body {
  font-family: courier;
  width: 480px;
  margin-left: 50px;
  background-image: url("t_indback_041.jpg");
}

p {
}

h1 {
  size: 18px;
}

ul {
  margin-left: -25px;
}

li {
  display:inline;
}
