body {
  font-family: courier;
  width: 480px;
  margin-left: 50px;
  background-image: url("t_indback_041.jpg");
}

p {
}

a {
  font-color: blue;
}

small {
  font-style: italic;
}
  
h1 {
  size: 18px;
}

ul {
  margin-left: -40px;
}

li {
  display:inline;
}

img {
  display:block;
  max-width:300px;
}
